# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
*.pyc

# Env vars
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/
backend/coallab.db

# OS specific
.DS_Store
Thumbs.db
